.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: antiquewhite;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 10px;
  height: 85%;
  width: min(640px, 95%);
  margin: auto;
  padding: 0 1rem;
  color: var(--text-color-light);
  text-align: center;
  font-size: clamp(1.75rem, 2.5vw, 2.75rem);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5);
}
