.info {
  border-bottom: 6px dotted var(--text-color-dark);
}

.number {
  color: var(--text-color-dark);
  font-weight: 700;
  font-size: 1.75rem;
  margin: 1rem 0;
}

.text {
  font-weight: 500;
  font-size: 1rem;
  padding-bottom: 0.75rem;
  color: var(--text-color-light);
}

.easy {
  composes: text;
  color: rgb(190, 219, 147);
}

.medium {
  composes: text;
  color: rgb(240, 240, 134);
}

.hard {
  composes: text;
  color: rgb(226, 133, 133);
}

.question_container {
  display: flex;
  align-items: center;
  height: 50%;

  div {
    font-size: clamp(1.625rem, 4vw, 2.75rem);
    padding: 0 max(2rem, 4vw);
    line-height: 1.25;
    font-weight: 600;
  }
}

.answers {
  width: 90%;
  margin-bottom: 0.75rem;

  button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem auto;
    color: var(--text-color-light);
    font-family: Ubuntu;
    font-size: 1.125rem;
    font-weight: 500;
    background-color: var(--primary-color);
    border: 4px solid #21486a;
    border-radius: 15px;
    width: 90%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    text-align: left;
    cursor: pointer;
    transition: border 300ms ease, background-color 300ms ease;

    &:hover {
      border: 4px solid var(--text-color-dark);
      background-color: #315c81;
    }

    &:active {
      transform: scale(1.025);
    }
  }

  svg {
    margin-right: 1rem;
  }
}
