.info {
  color: var(--text-color-dark);
  border-bottom: 6px dotted var(--text-color-dark);
}

.number {
  font-weight: 700;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.text {
  font-weight: 500;
  font-size: 1rem;
  padding-bottom: 0.75rem;
}

.question {
  font-size: clamp(2rem, 2.5vw, 2.75rem);
  padding: 0 max(2rem, 4vw);
  line-height: 1.25;
  font-weight: 600;
}
